<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Thêm đoạn này vào -->
	<connectionStrings>
		<!-- Mỗi người tự sửa 'Server=...' thành tên máy của mình, nhưng giữ nguyên name="MyConn" -->
		<add name="MyConn"
			 connectionString="Server=DESKTOP-HQ5EK1I;Database=ForeignLanguageCenterDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>