<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Thêm đoạn này vào -->
	<connectionStrings>
		<add name="MyConn"
			 connectionString="Server=LAPTOP-CQB3IO8F;Database=ForeignLanguageCenterDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>